.recharts-wrapper {
  padding-right: 2.5rem;
}

@media only screen and (max-width: 992px) {
  .recharts-wrapper {
    height: auto !important;
    width: auto !important;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0;
    padding-right: 3rem;
  }
}
