/* Styles for the Data Table Container */
.data-table-container {
  display: flex;
  flex-direction: column;
  width: 85vw;
}

/* Styles for the Data Table Wrapper to enable horizontal scroll */
.data-table-wrapper {
  overflow-x: auto; /* Enables horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

.data-table {
  width: 100%;
  border: 1px solid #ddd; /* Adding border to the entire table */
  border-collapse: collapse;
  min-width: 600px; /* Minimum width to ensure table's readability */
}

.data-table th {
  border: 1px solid #ddd; /* Adding border to table header cells */
  background-color: #f2f2f2; /* Adding background color to table header cells */
  padding: 4px; /* Adjust padding for thinner line height */
  text-align: center;
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden;
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

.data-table td {
  border: 1px solid #ddd; /* Adding border to table body cells */
  padding: 4px; /* Adjust padding for thinner line height */
  text-align: center;
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden;
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

.table-container {
  overflow-x: auto; /* Add horizontal scrolling */
}

.search-bar {
  margin-bottom: 20px;
  transition: 'all 0.3s ease-in-out';
}

/* Search Input */
.search-bar input[type='text'] {
  padding: 8px;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%; /* Make the input full width on mobile */
  font-size: 14px;
}

/* .search-bar input[type='text']:hover {
  transform: scale(
    1.25
  ); 
  (115% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
/* transform-origin: left center;
  border: 1px solid #000000;
} */

.search-bar input[type='text']:focus {
  border: none;
  outline: 2px solid; /* Set the outline width and style */
  outline-color: #1976d2; /* Make the outline blue */
  margin: 5px;
}

/* Pagination Buttons */
.pagination button {
  background-color: #1976d2; /* Green */
  border: none;
  color: white;
  padding: 8px 16px; /* Adjust padding */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px; /* Adjust font size */
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button:hover {
  background-color: #3498db; /* Darker green */
}

.pagination button:disabled {
  background-color: #ddd; /* Grey */
  color: #555; /* Dark grey */
  cursor: not-allowed;
}

/* Pagination Select */
.pagination select {
  background-color: #1976d2; /* Green */
  border: none;
  color: white;
  padding: 8px 16px; /* Adjust padding */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px; /* Adjust font size */
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

@media only screen and (max-width: 576px) {
  .data-table-container {
    width: 70vw;
  }

  .css-7mns2m-MuiPaper-root {
    width: auto;
  }

  .css-7mns2m-MuiPaper-root {
    width: 80vw !important;
    justify-content: left;
    align-items: center;
  }
}
